/* Universal Selector */
* {
  margin:0;
  padding:0;  
}

/* brand color palette */
:root {
  --primary: rgba(139, 148, 185, 0.56);
  --secondary: rgb(153, 161, 192);
  --tertiary: rgb(39, 40, 43);
  --dark: rgb(0, 0, 0);
  --light: rgb(242, 238, 247);
}

/* Element Selectors */
body {
  position: relative;
  font-family: "Goudy Bookletter 1911", sans-serif;
  font-size: 16px;
  background-color: var(--light);
  color: black;
}

h1,
h2 {
  margin: 20px;
}

main {
  padding: 60px 0;
}

li {
  display: inline;
  padding: 0px 20px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: var(--light);
}

header,
footer {
  height: 60px;
  width: 100%;
  line-height: 60px;
  background-color: var(--secondary);
}

header {
  position: fixed;
}

footer {
  position: absolute;
  margin-top: 0;
  bottom: 0;
  border-bottom: 10px solid #4F4846;
  color: #FDF8F5;    
}

figure {
  margin-bottom: 40px;
}

img {
  display: block;
  margin: 20px auto;
}

section {
  margin-bottom: 0;
  padding: 20px 10px 40px 10px;
  border-top: 3px solid var(--primary);
  background-color:  var(--light);
}

form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 500px;
  padding: 10px;
  border: 5px solid var(--primary);
  border-radius: 20px;
}

label {
  display: inline-block;
  width: 100px;
}
  
input, 
textarea {
  box-sizing: border-box;
  width: 300px;
  border: 1px solid #4F4846;
}

textarea {
  vertical-align: top;
  height: 60px;
}
  
button {
  height: 40px;
  width: 120px;
  background-color: #7b7f9a;
  color: #FDF8F5;
}
 
/* Class Selectors */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
